<mat-toolbar class="component--dialog-box__custom-toolbar">
  <span class="font-small-in-size">Schedule New</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="flex items-center justify-center">
    <mat-icon (click)="onNoClick()">close</mat-icon>
  </button>
</mat-toolbar>

<div class="p-2">
  <!--simple text-->
  <!--Content-->
  <form [formGroup]="firstFormGroup">
    <div class="space-y-2 mt-[5px]">
      <!--Category Input type-->
      <div class="w-full space-y-2 gt-xs:flex gt-xs:items-center gt-xs:gap-2">
        <div>
          <span class="normal-heading-12-bold">Assign / Edit</span>
          <span class="red-heading-12 ml-1">Common Fee</span>
          <span class="normal-heading-12-bold ml-1">for:</span>
        </div>
        <div>
          <mat-form-field
            appearance="outline"
            class="w-[95%] xs:w-full component--mat-form-field__custom-input component--mat-country_input__custom-style normal-text-heading gt-xs:w-[150%]"
          >
            <input
              matInput
              [value]="concatenatedNames"
              class="para-bold form-control"
              readonly
            />
          </mat-form-field>
        </div>
      </div>

      <!--select academic year category-->
      <div class="w-full space-y-2 gt-xs:flex gt-xs:items-center gt-xs:gap-2">
        <div>
          <span class="primary-heading-12">For Academic Year</span>
        </div>

        <div>
          <mat-form-field
            appearance="outline"
            class="w-[95%] xs:w-full component--mat-form-field__custom-input component--mat-country_input__custom-style normal-text-heading gt-xs:w-[150%]"
          >
            <mat-label class="">Select Type</mat-label>
            <mat-select
              appearance="outline"
              required
              formControlName="selAcademicyear"
            >
              <mat-option
                *ngFor="let dates of passAcademicYear"
                [value]="dates"
                (click)="SelectAcademicYear(dates)"
              >
                {{ dates.academic_year_start }}
              </mat-option>
            </mat-select>
            <mat-error>Type is required</mat-error>
          </mat-form-field>
        </div>
      </div>

      <!--select fee category-->
      <div class="w-full space-y-2 gt-xs:flex gt-xs:items-center gt-xs:gap-2">
        <div>
          <span class="primary-heading-12">Fee Categories - Payment Type</span>
        </div>
        <div>
          <mat-form-field
            appearance="outline"
            class="w-[95%] xs:w-full component--mat-form-field__custom-input component--mat-country_input__custom-style normal-text-heading gt-xs:w-[150%]"
          >
            <mat-label class="">Select Type</mat-label>
            <mat-select
              appearance="outline"
              required
              formControlName="selFeecategory"
            >
              <mat-option
                *ngFor="let dates of passFeeCategory"
                [value]="dates"
                (click)="SelectFeeCategory(dates)"
              >
                <div class="w-full flex">
                  <div>
                    <span class="normal-heading-12"
                      >{{ dates.fee_category_name }}
                    </span>
                  </div>
                  <div>
                    <span class="normal-heading-12 ml-2 mr-2"> - </span>
                  </div>
                  <div>
                    <span class="red-heading-12">
                      {{
                        dates.type === 0
                          ? "Common Fee, Recurring Fee Payment"
                          : dates.type === 1
                          ? "Common Fee, One Time Fee Payment"
                          : dates.type === 2
                          ? "Common Fee, Bus Fee Payment"
                          : dates.type === 3
                          ? "Custom Fee / Penalty Payment"
                          : ""
                      }}
                    </span>
                  </div>
                </div>
              </mat-option>
            </mat-select>
            <mat-error>Type is required</mat-error>
          </mat-form-field>
        </div>
      </div>

      <!--input type-->
      <div class="w-full space-y-2 gt-xs:flex gt-xs:items-center gt-xs:gap-2">
        <div><span class="primary-heading-12">Fee Amount</span></div>
        <div>
          <mat-form-field
            appearance="outline"
            class="w-[95%] xs:w-full component--mat-form-field__custom-input component--mat-country_input__custom-style normal-text-heading gt-xs:w-[100%]"
          >
            <mat-label class="">Fee Amount</mat-label>
            <input
              class="para-bold"
              matInput
              formControlName="feeAmount"
              id="name"
              class="form-control"
              required
              type="number"
              pattern="[0-9]+"
              title="Please enter numbers only with no whitespace"
            />
          </mat-form-field>
        </div>
        <div>
          <span class="red-heading-12">INR</span>
        </div>
      </div>

      <!--Filter data by using fee category-->

      <div>
        <!-- type other calander -->
        <div
          class="w-full space-y-2 gt-xs:flex gt-xs:items-center gt-xs:gap-2"
          *ngIf="type != 1 && type != undefined"
        >
          <div>
            <span class="primary-heading">Scheduled Billing Dates:</span>
          </div>
          <div>
            <!-- <mat-form-field
              appearance="outline"
              class="w-[95%] xs:w-full component--mat-form-field__custom-input normal-text-heading gt-sm:w-[100%]"
            >
              <mat-label>Schedule Date/s:</mat-label>
              <input
                matInput
                placeholder="Select Date"
                formControlName="selectdate"
                readonly
                class="para-bold"
              />

              <mat-menu #appMenu="matMenu" class="w-[250px] drop-calendar">
                <div (click)="$event.stopPropagation()">
                  <mat-calendar
                    class="para-bold"
                    #calendar
                    (selectedChange)="selectDate($event, calendar)"
                    [dateClass]="isSelected"
                    [minDate]="minDate"
                  ></mat-calendar>
                </div>
              </mat-menu>
              <button
                mat-icon-button
                [matMenuTriggerFor]="appMenu"
                class="float-right"
              >
                <mat-icon>calendar_today</mat-icon>
              </button>
            </mat-form-field> -->
            <mat-form-field
              appearance="outline"
              class="component--mat-form-field__custom-input w-full"
            >
              <mat-chip-list
                #chipList
                aria-label="Choose a date"
                (click)="picker.open()"
              >
                <mat-chip
                  *ngFor="let value of model"
                  [selectable]="false"
                  [removable]="true"
                  (removed)="remove(value)"
                >
                  {{ value | date }}
                  <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
                </mat-chip>
                <input
                  [value]="resetModel"
                  matInput
                  [matDatepicker]="picker"
                  placeholder="Choose a date"
                  (dateChange)="dateChanged($event)"
                  [matChipInputFor]="chipList"
                  hidden
                />
              </mat-chip-list>
              <mat-datepicker-toggle
                matPrefix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker
                #picker
                [startAt]="init"
                [dateClass]="dateClass"
              ></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <!--type 2 calander-->
        <div
          class="w-full space-y-2 gt-xs:flex gt-xs:items-center gt-xs:gap-2"
          *ngIf="type == 1 && type != undefined"
        >
          <div>
            <span class="primary-heading">Scheduled Billing Dates:</span>
          </div>

          <div>
            <mat-form-field
              appearance="outline"
              class="component--mat-form-field__custom-input w-full"
            >
              <input
                matInput
                [matDatepicker]="picker"
                (dateChange)="addEvent('change', $event)"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>

      <!--Due for payment-->
      <div
        class="w-full space-y-2 gt-xs:flex gt-xs:items-center gt-xs:gap-2 text-justify"
      >
        <div class="text-justify">
          <span class="primary-heading">Due for Payment by </span>
        </div>
        <div>
          <mat-form-field
            appearance="outline"
            class="w-[95%] xs:w-full component--mat-form-field__custom-input component--mat-country_input__custom-style normal-text-heading gt-xs:w-[100%]"
          >
            <input
              class="para-bold"
              matInput
              formControlName="dueforpayment"
              id="name"
              class="form-control"
              required
              type="number"
              pattern="[0-9]+"
              title="Please enter numbers only with no whitespace"
            />
          </mat-form-field>
        </div>

        <div class="text-justify whitespace-nowrap">
          <span class="primary-heading"> days from the date of billing.</span>
        </div>
      </div>

      <!--Narration-->
      <div class="w-full space-y-2 gt-xs:flex gt-xs:items-center gt-xs:gap-2">
        <div><span class="primary-heading-12">Narration:</span></div>
        <div>
          <mat-form-field
            appearance="outline"
            class="w-[95%] xs:w-full component--mat-form-field__custom-input component--mat-country_input__custom-style normal-text-heading gt-xs:w-[100%]"
          >
            <input
              class="para-bold"
              matInput
              formControlName="narration"
              id="name"
              class="form-control"
              required
            />
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
  <!--button-->
  <div
    class="w-full flex items-center justify-center mt-[15px]"
    *ngIf="type != 1 && type != undefined"
  >
    <button
      style="cursor: pointer"
      class="primary-button"
      mat-raised-button
      (click)="InsertFeeAssignOthers()"
      [disabled]="firstFormGroup.invalid"
    >
      Save
    </button>
  </div>

  <div
    class="w-full flex items-center justify-center mt-[15px]"
    *ngIf="type == 1 && type != undefined"
  >
    <button
      style="cursor: pointer"
      class="primary-button"
      mat-raised-button
      [disabled]="firstFormGroup.invalid"
      (click)="InsertFeeAssignOne()"
    >
      Save
    </button>
  </div>
</div>
